@import url(./theme.css);
/*Class active pour indiquer le dans lequel menu on se trouve*/
header .menu-item.active {
    color: var(--hover-color);
}
.first-section-mespages{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 5%;
    gap: 30px;
}
.first-section-mespages .description{
    width: 40%;
}
.first-section-mespages h1{
    font-family: 'Proxima Nova Cn Rg', serif;
    font-size: 10rem;
    color: #3a3a3a;
}
.first-section-mespages h2{
    font-family: 'Proxima Nova Rg', serif;
    font-weight: 400;
    color: var(--hover-color);
    margin-bottom: 10px;
}
.first-section-mespages p{
    color: #2f2f30;
}

.first-section-mespages figcaption{
    width: 400px;
    height: 400px;
}
.first-section-mespages figcaption img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
/*Deuxi)me section*/
.second-section-apropos{
    margin: 5%;
}
/*footer*/
/*Class active pour indiquer le dans lequel menu on se trouve pour la navbar du footer*/
footer .menu-item.active {
    color: #FAFAFA;
}
/*Ecran de moins de 500px*/
@media screen and (max-width: 500px){
    .first-section-mespages{
        flex-direction: column;
    }

    .first-section-mespages h1{
        font-size: 6rem;
    }
    .first-section-mespages .description{
        width: 90%;
    }
    .first-section-mespages figcaption{
        width: 350px;

    }
}