@import url(./theme.css);
/*Class active pour indiquer le dans lequel menu on se trouve*/
header .menu-item.active {
    color: var(--hover-color);
}
/* prmière section de mes pages */
.first-section-mespages{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 3% 5%;
    gap: 30px;
}
.first-section-mespages .description{
    width: 40%;
}
.first-section-mespages h1{
    font-family: 'Proxima Nova Cn Rg', serif;
    font-size: 10rem;
    color: #3a3a3a;
}
.first-section-mespages h2{
    font-family: 'Proxima Nova Rg', serif;
    font-weight: 400;
    color: var(--hover-color);
    margin-bottom: 10px;
}
.first-section-mespages p{
    font-family: 'Proxima Nova Rg', serif;
    font-size: 1.9rem;
    color: #3a3a3a;
}

.first-section-mespages figcaption{
    width: 400px;
    height: 400px;
}
.first-section-mespages figcaption img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
/*Deuxi)me section*/
.second-section-apropos{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 5%;
    gap: 30px;
}
.second-section-apropos figcaption{
    width: 400px;
}
.second-section-apropos figcaption img{
    width: 100%;
    transform: rotate(-10deg);
}
.second-section-apropos .description-second-section{
    margin: 6%;
}
.second-section-apropos h3{
    font-family: 'Proxima Nova Rg', serif;
    font-size: 2.5rem;
    color: var(--hover-color);
    margin-bottom: 10px;
}
.second-section-apropos p{
    font-family: 'Proxima Nova Rg', serif;
    font-size: 1.9rem;
    color: #3a3a3a;
}
/* Image après le texte */
.figure-mobile{
    display: none;
}
/*footer*/
/*Class active pour indiquer le dans lequel menu on se trouve pour la navbar du footer*/
footer .menu-item.active {
    color: #b2b2b2;
}
/*Ecran de moins de 500px*/
@media screen and (max-width: 500px){
    .first-section-mespages{
        flex-direction: column;
        align-items: center;
    }

    .first-section-mespages h1{
        font-size: 6rem;
    }
    .first-section-mespages .description{
        width: 90%;
        margin: 0;
    }
    .first-section-mespages figcaption{
        width: 300px;
        height: 300px;
        display: flex;
    }
    /*Deuxième section*/
    .second-section-apropos{
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    .second-section-apropos figcaption{
        width: 300px;
    }
    .figure-mobile{
        display: block;
    }
    
    .large-screen{
        display: none;
    }
}