@import url(./apropos.css);


/* section Compétences */

.second-section{
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 40px;
  margin-bottom: 500px;
  position: relative;
  background-image: linear-gradient(to bottom, var(--header-bgcolor), var(--hover-color));
}

.second-section .description{
  margin: auto 20%;
  padding-top: 35px;
}

.second-section h2{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 2.6rem;
  color: #fff;
}

.second-section .languages{
  position: absolute;
  top: 30%;
  left: 10%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 2px 1fr;
  width: 80%;
  height: 700px;
  margin: auto;
  justify-items: center;
  border-radius: 20px;
  border: solid 2px #E6ECF8;
}

.second-section .contenu-lang{
  width: 80%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Ligne verticale qui sépare les deux div langues*/
.ligne-verticale {
  width: 2px; 
  height: 700px; 
  background-color: #d7d4d4; 
  display: inline-block;
}
.second-section .contenu-lang p{
  padding-top: 30px;
  color: #000;
  text-align: center;
}

.second-section .languages figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.second-section .languages figure img{
  width: 80px;
}
.second-section .languages figure figcaption{
  font-size: 1.8rem;
  font-weight: 500;
}
.second-section .languages h3{
  padding-top: 40px;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--myblue-color);
  text-align: center;
}
.second-section .languages p{
  font-family: 'Proxima Nova Rg', serif;
  font-size: 2rem;
  font-weight: 200;
}

/*Section pour les images */
.img-competences{
  margin: auto;
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}
.img-competences img{
  width: 120px;
}

/*footer*/
footer{
  background-color: #E5E5E5;
}

@media screen and (max-width: 500px){
  .second-section{
    height: 1200px;
  }
  .second-section .languages{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 15%;
    height: 1550px;
  }
  .ligne-verticale {
    display: none;
  }
  /*Section pour les images */
  .img-competences{
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .img-competences img{
    width: 100px;
  }
}