@import url(./apropos.css);


/* section Compétences */

.second-section{
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 40px;
  margin-bottom: 600px;
  position: relative;
  background-image: linear-gradient(to bottom, #EBEBEB, #b2b1b1);
}

.second-section .description{
  margin: auto 20%;
  padding-top: 35px;
}

.second-section h2{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 2.6rem;
  color: var(--hover-color);
}

.second-section .languages{
  position: absolute;
  top: 30%;
  left: 10%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  height: 700px;
  margin: auto;
  justify-items: center;
  border-radius: 20px;
  border: solid 2px #E6ECF8;
}

.second-section .contenu-lang{
  width: 80%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-section .contenu-lang p{
  padding-top: 30px;
  color: #000;
}
.second-section .languages figure{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.second-section .languages figure img{
  width: 80px;
}
.second-section .languages figure figcaption{
  font-size: 1.8rem;
  font-weight: 500;
}
.second-section .languages h3{
  padding-top: 40px;
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--myblue-color);
  text-align: center;
}
.second-section .languages p{
  font-family: 'Proxima Nova Rg', serif;
  font-size: 1.8rem;
  font-weight: 200;
}

@media screen and (max-width: 500px){
  .second-section{
    height: 1100px;
  }
  .second-section .languages{
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20%;
    height: 1400px;
  }
}