@import url(./apropos.css);

.icones{
    width: 50%;
    position: relative;
    margin: 5%;
    display: grid;
    grid-template-columns: 15% 15%;
    gap: 100px;
}
.fig-un,
.fig-deux,
.fig-trois,
.fig-quatre{
    position: relative;
}
.icones span{
    position: absolute;
    top: 40%;
    transition: ease-in-out .4s;
}
.icones span:hover{
    color: var(--hover-color);
    transition: ease-in-out .4s;
}
.icones a img{
    width: 70px;
    height: 70px;
    transition: ease-in-out .4s;
}
.icones a img:nth-child(2){
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.icones a:hover img:nth-child(2){
    opacity: 1;
    transition: ease-in-out .4s;
}
.icones span{
    margin-left: 10px;
}
/*Ecran de moins de 500px*/
@media screen and (max-width: 500px){
    .icones{
        grid-template-columns: 40% 40%;
    }
    .icones a img:nth-child(2){
        opacity: 1;
    }
   
}