@import url(./apropos.css);


.first-section-mespages a{
  font-family: 'Proxima Nova Lt', serif;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 300;
  text-decoration: underline;
  transition: .3s ease-in-out;
}
.first-section-mespages a:hover{
  color: #888787;
  transition: .3s ease-in-out;
}

.doc{
  width: 80%;
  margin: auto;
}
.doc h2{
  font-family: 'Proxima Nova Lt', serif;
  font-size: 2.6rem;
  margin-bottom: 10px;
  font-weight: 300;
}
.doc a{
  display: flex;
  padding-bottom: 10px;
  gap: 5px;
}
.doc a p{
  font-family: 'Proxima Nova Lt', serif;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 300;
  color: var(--myblue-color);
}
.doc a p:hover{
  text-decoration: underline;
}

.doc p{
  font-family: 'Proxima Nova Lt', serif;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 300;
}
.section-java{
  width: 80%;
  padding-top: 40px;
  margin: auto;
}
.section-java h2{
  font-family: 'Proxima Nova Lt', serif;
  font-size: 2.6rem;
  margin-bottom: 10px;
  font-weight: 300;
}
.section-java figure{
  margin-left: 5%;
  padding-bottom: 2rem;
}
.section-java img{
  width: 900px;
  transition: .3s ease-in-out;
  cursor: pointer;
  margin: auto;
  border-radius: 5px;
}
.section-java figcaption{
  font-style: italic;
  color: #666;
}
.section-java p{
  font-family: 'Proxima Nova Lt', serif;
  font-size: 2rem;
  margin-bottom: 10px;
  font-weight: 300;
  margin-bottom: 30px;
}

.section-java .doc a{
  display: flex;
}
.section-java .doc a img{
  width: 30px;
}
/*footer*/
footer{
  background-color: #E5E5E5;
}