@import url(javapageproject.css);


.doc a{
  color: var(--myblue-color);
  margin-bottom: 1rem;
}

.doc a:hover{
  text-decoration: underline;
}

h3, h4{
  margin-top: 12px;
  margin-bottom: 12px;
  font-weight: 400;
  color: var(--hover-color);
}