@import url(./apropos.css);

.section-two{
  margin-top: 0;
  background-color: #E5E5E5;
  padding-top: 30px;
  padding-bottom: 30px;
}
h3{
  padding-top: 30px;
}
.first-section-mespages button{
  padding: 15px 25px;
  color:  #3a3a3a;
  background: transparent;
  border: 2px solid #3a3a3a;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.7rem;
  transition: .3s ease-in-out;
  margin-top: 20px;
}

/*footer*/
footer{
  background-color: #E5E5E5;
}